#  Local .terraform directories
**/.terraform/*

# .tfstate files
*.tfstate
*.tfstate.*

# .tfvars files
*.tfvars

terraform.tfvars
terraform.tfstate
terraform.tfstate.backup
terraform.tfstate.d
.terraform
/credentials/outputs.tf
/tmp

/gcp/asia-northeast1/lit.key
/gcp/asia-northeast1/lit.cert
/gcp/asia-northeast1/lit.chain

README.md

.hg
